$fontFamily1: 'Josefin Sans', sans-serif;
$fontFamily2: 'Alfa Slab One', cursive;
$fontFamily3: 'Nunito', sans-serif;
$red: #940807;
$bg: '../images/';

* {
	position: relative;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;}

h1 {
	font-size: 26px;
	display: block;
	margin-bottom: 25px;
	color: #111;
	text-transform: uppercase;
	font-family: $fontFamily1;}

h2 {
	font-size: 18px;
	display: block;
	margin-bottom: 10px;
	color: #111;
	margin-top: 30px;
	text-transform: uppercase;
	font-family: $fontFamily1;}

[hidden] {
	display: none;}

main {
	font-size: 0;
	padding: 0 20%;
	padding: 75px 0;
	min-height: 75vh;
	background-color: #ffffff;
	background-image: url($bg+"wall.png");}	

p {
	font-size: 18px;
	font-family: $fontFamily3;
	line-height: 1.5;}

ul {

	font-family: $fontFamily3;
	font-size: 18px;
	display: block;
	width: 100%;
	font-size: 16px;

	li {
		margin: 10px 0;
		display: block;
	}

	li:before {
		content: '\2666';
		position: relative;
		display: inline;
		font-size: 14px;
		top: -2px;
		margin-right: 10px;
		margin-left: 1px;
		color: #910807;
	}

}


//////// CLASSES //////

/* COLUMNS */

.c15 {
	display: inline-block;
	vertical-align: top;
	width: 15%;}

.c20 {
	display: inline-block;
	vertical-align: top;
	width: 20%;}

.c50 {
	display: inline-block;
	vertical-align: top;
	width: 50%;}

.c60 {
	display: inline-block;
	vertical-align: top;
	width: 60%;}

.c40 {
	display: inline-block;
	vertical-align: top;
	width: 40%;}

.c45 {
	display: inline-block;
	vertical-align: top;
	width: 45%;}

.c30 {
	display: inline-block;
	vertical-align: top;
	width: 30%;}

.c33 {
	display: inline-block;
	vertical-align: top;
	width: 33.3%;}

.c25 {
	display: inline-block;
	vertical-align: top;
	width: 25%;}

.c70 {
	display: inline-block;
	vertical-align: top;
	width: 70%;}

.c10 {
	display: inline-block;
	vertical-align: top;
	width: 10%;}

.left {
	padding-right: 30px;}

.right {
	padding-left: 30px;}

.c60.left {
	border-right: 1px solid #aaa;}

/* BUTTONS */

.green-button {
	background: #56ab2f;
	background: url($bg+'denim.png'), -webkit-linear-gradient(to bottom, #a8e063, #56ab2f);
	background: url($bg+'denim.png'),linear-gradient(to bottom, #a8e063, #56ab2f);
	color: #000;
	font-size: 16px;
	font-weight: bold;
	padding: 13px 0 9px;
	letter-spacing: 1px;
	border-radius: 5px;
	text-align: center;
	font-family: $fontFamily1;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	border: 2px solid #222;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	width: 200px;
	margin: 25px auto;
	cursor: pointer;
}

.black-button {
	display: block;
	padding: 13px 0 12px;
	background: black;
	border-radius: 5px;
	margin: 25px 0;
	color: white;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	font-family: $fontFamily1;
	width: 100px;
}

.wrapper {
	display: block;
	vertical-align: top;
	max-width: 1200px;
	margin: 0 auto;
}

p + h1,
ul + h1 {
	margin-top: 30px;
}

/* HEADER */

header {
	
	background: url($bg+'black-orchid.png'), #000;
	border-bottom: 5px solid #d7d7d7;
	padding: 25px 0;

	.logo {
		position: absolute;
		display: block;
		vertical-align: middle;
		width: 110px;
		top: -20px;
		z-index: 99;
		border: none;
		outline: none;
	}

	nav {

		display: inline-block;
		width: 100%;
		vertical-align: middle;
		text-align: right;

		a {
			text-decoration: none;
			font-weight: bold;
			margin-left: 40px;
			font-size: 24px;
			letter-spacing: 1px;
			transition: color 0.3s ease;
			font-family: $fontFamily1;
			top: 2px;
			color: #e5e7eb;
		}

		a:before {
			content: '\2666';
			position: relative;
			display: inline;
			font-size: 14px;
			color: #910807;
			left: -20px;
			top: -5px;
		}

		a:first-of-type:before {display: none;}
		a:hover {color: #8CD86D;}

	}

}

.contact-line {

	background: #940807 url($bg+'black-orchid.png');
	color: #fff;
	font-size: 14px;
	padding: 12px 0 10px;
	text-align: right;
	border-bottom: 5px solid black;

	a {
		color: white;
		font-family: $fontFamily3;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-left: 30px;
		text-decoration: none;

		img {
			display: inline;
			vertical-align: middle;
		}

	}

}

/* FORMS */

.qr {
	display: block;
	width: 300px;
	margin: 0 auto;
	input {
		display: block;
		width: 200px;
		font-size: 30px;
		margin: 20px auto;
		text-align: center;
		letter-spacing: 2px;
		padding: 20px 0;
		font-weight: bold;
		border-color: gray;
	}
	button {
		display: block;
		width: 200px;
		background: black;
		border: none;
		color: white;
		text-shadow: none;
		font-weight: normal;
		padding: 10px 40px;
		letter-spacing: normal;
		margin: 0 auto;
		transition: background 0.3s ease;
	}
	button:hover {
		background: #222;
	}

}

section {
	padding: 0 3%;
}


.view,
.selection {
	display: none;
}


.tiles {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	button {
		background: #eee;
		text-align: center;
		padding: 15px 0;
		color: black;
		font-size: 18px;
		font-family: $fontFamily3;
		font-weight: bold;
		text-decoration: none;
		letter-spacing: 1px;
		border: 1px solid #ddd;
		border-radius: 5px;
	}
}


/* HERO */

#hero {

	display: block;
	width: 100%;
	padding: 140px 0 ;
	background: url($bg+'banner.png');
	background-position: 50% 60%;
	border-bottom: 5px solid #9F0806;
	background-repeat: no-repeat;

	blockquote {
		font-size: 46px;
		color: #f5f4f4;
		display: block;
		line-height: 1.2;
		font-family: $fontFamily3;
		text-shadow: #000 0 0 10px;	
		text-align: center;
	}

	blockquote + span {
		font-size: 22px;
		display: block;
		margin-top: 20px;
		text-align: center;
		font-family: $fontFamily2;
		text-shadow: #000 0 0 10px;		
		color: #fff;
	}

	blockquote + span:before {
		content: '\2014';
		display: inline;
		margin-right: 5px;
	}

}

/* FORM */

form,
label,
input,
textarea,
select,
option {
	width: 100%;
	display: block;
}

input,
textarea,
select {
	border: 1px solid black;
}

form {
	display: inline-block;
	margin-top: 10px;
	font-size: 0;
	font-family: 'Calibri';
	width: 100%;
}

form .right,
form .left {
	padding: 0;
}

form .right {
	padding-right: 15px;
}

label {
	font-size: 16px;
}

input,
textarea,
select {
	padding: 10px 10px;
	width: 100%;
	border-radius: 3px;
	margin-bottom: 10px;
}

textarea {
	font-family: 'Calibri';
	font-size: 16px;
	height: 125px;
}

button {
	margin-top: 10px;
	background: #111;
	color: white;
	border-radius: 3px;
	padding: 10px 30px;
	font-size: 12px;
	font-family: Arial;
	text-transform: uppercase;
	transition: background 0.3s ease;
}

button:hover {cursor: pointer;}

::-webkit-input-placeholder {color: #666;}
::-moz-placeholder {color: #666;}
:-ms-input-placeholder {color: #666;}
:-moz-placeholder {color: #666;}

form p {
	padding: 5px 0 0;
	font-size: 18px;}

form {
	background: white;
	margin-top: 20px;}

form,
fieldset {
	display: block;
	width: 100%;}

fieldset + fieldset {
	margin-top: 20px;}

legend {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 20px;}

form h2 {
	font-weight: normal;
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 10px;}

label {
	display: block;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 10px;}

input,
textarea,
select {
background: #f6f6f6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #FFFFFF, #f6f6f6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FFFFFF, #f6f6f6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin-bottom: 20px;
display: block;
}



//////////// PAGES /////////

/* ABOUT */

.about h1 {margin-top: 25px;}





























/* TABLES */

table,
thead,
tbody,
tr {
	display: block;
	width: 100%;}

table {
	border: 1px solid black;
	text-align: left;}

thead {
	background: #333;
	color: white;
	border-bottom: 2px solid black;}

tr {
	height: 50px;}

td, th {
	vertical-align: middle;
	display: inline-block;
	font-size: 16px;
	border-right: 1px solid black;}

th,td {
	height: 50px;
	line-height: 50px;}

tr {
	border-bottom: 1px solid black;}

table tr:last-of-type {
	border-bottom: none;}

tr td:last-of-type,
tr th:last-of-type {
	border-right: none;}

table input {
	border: none;
	height: 49px;
	margin-bottom: 0;}

#experience tr th:nth-of-type(1),
#experience tr td:nth-of-type(1) {
	padding-left: 10px;
	width: 30%;}

#experience tr th:nth-of-type(2),
#experience tr td:nth-of-type(2) {
	padding-left: 10px;
	width: 20%;}

#experience tr td:nth-of-type(2) {
	padding: 0;}

#experience tr th:nth-of-type(3),
#experience tr td:nth-of-type(3) {
	text-align: center;
	width: 15%;}

#experience tr th:nth-of-type(4),
#experience tr td:nth-of-type(4) {
	text-align: center;
	width: 15%;}

#experience tr th:nth-of-type(5),
#experience tr td:nth-of-type(5) {
	text-align: center;
	width: 20%;}


#citations tr th:nth-of-type(1),
#citations tr td:nth-of-type(1) {
	width: 15%;}

#citations tr th:nth-of-type(2),
#citations tr td:nth-of-type(2) {
	width: 25%;}

#citations tr td:nth-of-type(2) {
	padding: 0;}

#citations tr th:nth-of-type(3),
#citations tr td:nth-of-type(3) {
	text-align: center;
	width: 10%;}

#citations tr th:nth-of-type(4),
#citations tr td:nth-of-type(4) {
	width: 25%;}

#citations tr th:nth-of-type(5),
#citations tr td:nth-of-type(5) {
	width: 25%;}

#citations tr th:nth-of-type(1),
#citations tr th:nth-of-type(2),
#citations tr th:nth-of-type(4),
#citations tr th:nth-of-type(5) {
	padding-left: 10px;}


#employers tr th:nth-of-type(1),
#employers tr td:nth-of-type(1) {
	width: 15%;}

#employers tr th:nth-of-type(1) {
	padding-left: 10px;}

#employers tr th:nth-of-type(2),
#employers tr td:nth-of-type(2) {
	padding-left: 10px;
	width: 20%;}

#employers tr td:nth-of-type(2) {
	padding: 0;}

#employers tr th:nth-of-type(3),
#employers tr td:nth-of-type(3) {
	text-align: center;
	width: 10%;}

#employers tr th:nth-of-type(4),
#employers tr td:nth-of-type(4) {
	text-align: center;
	width: 7.5%;}

#employers tr th:nth-of-type(5),
#employers tr td:nth-of-type(5) {
	text-align: center;
	width: 7.5%;}

#employers tr th:nth-of-type(6),
#employers tr td:nth-of-type(6) {
	text-align: center;
	width: 15%;}

#employers tr th:nth-of-type(7),
#employers tr td:nth-of-type(7) {
	text-align: center;
	width: 10%;}

#employers tr th:nth-of-type(8),
#employers tr td:nth-of-type(8) {
	text-align: center;
	width: 15%;}


#jobs tr th:nth-of-type(1),
#jobs tr td:nth-of-type(1) {
	width: 25%;}

#jobs tr th:nth-of-type(2),
#jobs tr td:nth-of-type(2) {
	padding-left: 10px;
	width: 25%;}

#jobs tr td:nth-of-type(2) {
	padding: 0;}

#jobs tr th:nth-of-type(3),
#jobs tr td:nth-of-type(3) {
	width: 25%;}

#jobs tr th:nth-of-type(4),
#jobs tr td:nth-of-type(4) {
	width: 25%;}

#jobs tr th:nth-of-type(1),
#jobs tr th:nth-of-type(3),
#jobs tr th:nth-of-type(4) {
	padding-left: 10px;}


table + h2,
table + label,
textarea + label {
	margin-top: 50px;}

p + table {
	margin-top: 15px;}


.apply #thank-you {
    font-size: 32px;
    font-family: Calibri;
    line-height: 1.25;
    display: none;
    margin: 100px 0;}


/* CONTACT BAR */

#contact-bar {

	display: block;
	font-size: 0;
	font-family: 'Calibri';
	padding: 50px 0;
	background: url($bg+'/map.png');
	background-repeat: no-repeat;
	background-position: 100% 40%;
	color: #fff;
	min-height: 386px;

	form {background: none;}

	input {
		background: #ECE9E6;
		background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);
		background: linear-gradient(to top, #FFFFFF, #ECE9E6);
	}

	textarea {height: 130px;}

	button {
		padding: 12px 20px 8px;
		border: 1px solid #333;
		margin-left: 0;
	}

	h1 {
		text-shadow: #000 0 0 10px;		
		color: #8DD56E;
	}

	span {
		font-size: 16px;
		font-weight: bold;
		display: block;
	}

	ul {

		margin-left: 60px;
		top: 50px;
		padding: 0;

		li {margin: 5px 0;}

		li:before {display: none;}

	}

	a {font-size: 18px;}

	.phone {

		font-size: 16px;
		top: 10px;
		font-family: Arial;
		text-shadow: #000 0 0 10px;	
		margin-left: 60px;

		a {color: #8DD56E;}

	}

	.phone + span {
		font-size: 24px;
		top: 40px;
		color: #8DD56E;
		text-shadow: #000 0 0 10px;		
		margin-left: 60px;
	}

	#thank-you {

		display: none;
		background: rgba(0,0,0,0.75);
		padding: 20px;
		top: 20px;
		font-size: 24px;

		a {
			color: #8DD56E;
			font-size: 24px;
			text-decoration: none;
		}

	}

	#hours {

		text-shadow:#000 0 0 10px;

		strong {
			display: inline-block;
			width: 125px;
		}
	}

}


/* FOOTER */

footer {

	background: url($bg+'black-orchid.png'), #000;
	padding: 20px ;
	border-bottom: 10px solid #9F0806;
	border-top: 3px solid #D6D6D6;
	line-height: 1;
	color: #fff;
	font-family: Arial;
	font-size: 10px;

	span + ul {
		list-style: none;
		margin-left: 60px;
	}

	span + ul li:before {display: none;}

	.links {

		display: block;
		margin: 20px auto 0;
		padding-top: 20px;
		text-align: right;
		border-top: 1px solid #333;
		font-size: 14px;

		li {
		    margin-right: 15px;
		    padding-right: 15px;
		    display: inline-block;
		    border-right: 1px solid #333;
			display: inline-block;
		}

		li:first-of-type {
			float: left;
			border-right: none;
		}

		li:first-of-type a {
			color: white;
			letter-spacing: 1px;
		}

		li:last-of-type {
			margin-right: 0;
			padding-right: 0;
			border-right: none;
		}

		li:before {display: none;}

		li a {
			color: #88D76C;
			text-decoration: none;
		}

	}

	.details {

		width: 300px;
		display: inline-block;
		vertical-align: middle;

		li {
			display: inline-block;
			margin-right: 15px;
			font-size: 16px;
		}

		li:before {display: none;}

		li:first-of-type a {
			text-decoration: none;
			color: #88D76C;
			font-size: 28px;
		}

	}

	nav {

		width: calc(100% - 303px);
		display: inline-block;
		vertical-align: middle;
		text-align: right;

		a {
			color: white;
			font-size: 16px;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: bold;
			padding-left: 40px;
			display: inline-block;
		}

	}

}